@font-face {
    font-family: 'Spart';
    src: url('./../font/Sprat_Variable.ttf');
}

body {
    @include font-regular;
    color: var(--color-text);
    font-size: 1.125rem; /* 18px */
    line-height: 1.7;

    transition: color .3s ease-out;

    @include screen-medium {
        font-size: 1.3125rem; /* 21px */
    }
}

h1, h2, h3 {
    margin: 0 0 $margin*2 0;
    line-height: 1;

    @include screen-medium {
        margin: 0 0 $margin*2 0;
    }
}
h1 {
    @include font-extended;
    font-size: 2.25rem; /* 36px */

    @include screen-medium {
        font-size: 2.6875rem; /* 43px */
    }
}
h2, h3 {
    @include font-condensed;
}
h2 {
    margin: 0 0 $margin*4 0;
    font-size: 1.875rem; /* 30px */
    @include screen-medium {
        font-size: 2.25rem; /* 36px */
    }
}
h3 {
    font-size: 1.5625rem; /* 25px */
    margin-top: $margin*4;
    @include screen-medium {
        font-size: 1.875rem; /* 30px */
        margin-top: $margin*5;
    }
}

p {
    line-height: 1.8;
    max-width: 70ch;

    & + h3 {
        margin-top: $margin*5;
    }
}

a {
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text);
    padding-bottom: $margin/2;
    transition: all .3s ease-out;
    &:hover, &:focus {
        font-variation-settings: 'wght' 100, 'wdth' 175;
    }
}

.text-hidden {
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.bold {
    font-variation-settings: 'wght' 100, 'wdth' 175;
}
.light {
    font-variation-settings: 'wght' 100, 'wdth' 100;
}