/* ===== CSS VARIABLES ===== */
:root {

    /* == TEXT COLOR == */
    --color-text: #2B2B2B;

    /* == FRAME BG COLOR == */
    --bg-frame: transparent;

    /* == ILLUSTRATION TOP POSITION == */
    --content-top: 0;

    /* == WHEEL ROTATIONS == */
    --wheel-rotation: 0deg;
}

/* ===== SASS VARIABLES ===== */

$color-black: #2B2B2B;
$color-grey: #E2E2E2;
$color-white: #F7F7F7;

$color-night: #052957;
$color-sunset: #7E88B2;
$color-sunrise: #788692;

$color-black-transpa: transparentize($color-black, .3);

/* ===== SCREEN MEDIA ===== */
$small: 520px;
$medium: 768px;
$large: 1024px;
$xl: 1440px;
$xxl: 1700px;

/* ===== MARGIN ===== */
$margin: 6px;

/* ===== TRANSITIONS ===== */
$transition-time: 2s;
$transition-easing: linear;
$transition-skybackground: background $transition-time $transition-easing,
                        color $transition-time $transition-easing;