header {
    @include screen-large {
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @include screen-xl {
        width: 50vw;
    }
}

.logo {
    margin: 0;
    white-space: nowrap;
    text-indent: -500%;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: $margin*20;
    margin-bottom: $margin*5;
    opacity: 1;

    transition: opacity .3s ease-out .7s;

    @include screen-medium {
        margin-bottom: $margin*10;
    }
    @include screen-large {
        height: $margin*30;
        margin-bottom: 0;

        width: 60%;
    }

    &::before {
        content: '';
        background: url('../svg/logo-name.svg') center / contain no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.frame-active {
    .logo {
        opacity: 0;

        transition: opacity .3s ease-out;
    }
}