.svg-responsive {
    width: 100%;
}

.frame {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 $margin*5;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0;

    transition: opacity .3s ease .4s;

    @include screen-large {
        width: 40vw;
    }
    @include screen-xl {
        width: 50vw;
    }

    &--fixed {
        top: 0 !important;
    }

    &__svg {
        height: 100%;

        @include screen-medium {
            position: absolute;
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
        @include screen-large {
            width: 70%;
        }
        @include screen-xl {
            width: 60%;
        }
    }
    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: -1;

        transition: all 1s ease;
    }

    &-active {
        .frame__bg {
            background-color: rgba($color-black, .50);

            transition: all 1s ease;

            @include screen-large {
                background-color: transparent;
            }
        }
        .frame {
            opacity: 1;

            transition: opacity .3s ease .3s;
        }
    }


    &-content {
        width: 70%;

        transition: transform .3s ease-out .9s;

        &--hidden {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            z-index: -1;

            transition: opacity .2s ease-in;

            @include screen-large {
                left: 20%;
            }
            @include screen-xl {
                left: 25%;
            }
        }
        &--active {
            opacity: 1;

            transition: opacity .4s ease-out .7s;
        }

        /* CUSTOM CSS FOR THE ILLUSTRATIONS */
        &.plant {
            width: 40%;

            @include screen-medium {
                width: 20%;
            }
            @include screen-large {
                width: 10%;
            }

            g {
                stroke: $color-black;
            }
        }
        &.music {
            height: 20%;

            @include screen-medium {
                width: 35%;
            }
            @include screen-large {
                height: 10%;
                width: 25vw;
            }
            @include screen-xl {
                width: 30vw;
            }
        }
        &.cycle {
            @include screen-medium {
                width: 35%;
            }
            @include screen-large {
                width: 25vw;
            }
        }
        &.glove {
            width: 60%;
            path {
                fill: none;
                stroke-width: 2;
                stroke: $color-black;
            }

            @include screen-medium {
                width: 30%;
            }
            @include screen-large {
                width: 20%;
            }
        }
    }
}


/* ===== CSS FOR SVG ANIMATIONS ===== */

.glove {
    &__circle {
        fill: none;
        stroke-width: 5;
        stroke: $color-black;
        opacity: 1;
        
        transform-origin: 53px 102px;
        
        animation-name: circle-pulses;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        
        &--2 {
            transform-origin: 273px 341px;
        }
        
        &--b {
            animation-delay: .3s;
        }
        &--c {
            animation-delay: .6s;
        }
    }
}
#plant {
    &-mask-1, &-mask-2, &-mask-3, &-mask-4, &-mask-5, &-mask-6, &-mask-7, &-mask-8, &-mask-9, &-mask-10, &-mask-11, &-mask-12 {
        fill: none;
        stroke: white;
        stroke-width: 40;
        stroke-dasharray: 2600;
        stroke-dashoffset: 2600;
        animation: line-tracing 20s linear infinite;
    }
    &-mask-2, &-mask-6 {
        animation-delay: 3.5s;
        animation-duration: 16.5s;
    }
    &-mask-3 {
        animation-delay: 3.75s;
        animation-duration: 16.25s;
    }
    &-mask-4, &-mask-10 {
        animation-delay: 2s;
        animation-duration: 18s;
    }
    &-mask-5, &-mask-9, &-mask-12 {
        animation-delay: 3s;
        animation-duration: 17s;
    }
    &-mask-8, &-mask-11 {
        animation-delay: 2.5s;
        animation-duration: 17.5s;
    }
}
.plant {
    fill: none;
    stroke: $color-black;

    &__circle {
        $nb-circles: 12;
        fill: none;
        stroke-width: 10;
        stroke: #2b2b2b;
        opacity: 0;
        
        animation-name: circle-pulses;
        animation-duration: 3.5s;
        animation-iteration-count: infinite;
        
        &--1 {
            transform-origin: 136px 526px;
            stroke: $color-coquelicot;
        }
        &--2 {
            transform-origin: 215px 758px;
            stroke: $color-rose;
        }
        &--3 {
            transform-origin: 62px 843px;
            stroke: $color-feuille;
        }
        &--4 {
            transform-origin: 136px 281px;
            stroke: $color-coquelicot;
        }
        &--5 {
            transform-origin: 84px 249px;
            stroke: $color-mure;
        }
        &--6 {
            transform-origin: 230px 175px;
            stroke: $color-brenda;
        }
        &--7 {
            transform-origin: 316px 129px;
            stroke: $color-coquelicot;
        }
        &--8 {
            transform-origin: 233px 100px;
            stroke: $color-ciel;
        }
        &--9 {
            transform-origin: 111px 207px;
            stroke: $color-ciel;
        }
        &--10 {
            transform-origin: 136px 707px;
            stroke: $color-rose;
        }
        &--11 {
            transform-origin: 68px 786px;
            stroke: $color-robin;
        }
        &--12 {
            transform-origin: 154px 763px;
            stroke: $color-feuille;
        }
        @for $x from 1 to $nb-circles {
            &--#{$x} {
                animation-delay: ((random(20)/10) + 3.5) * 1s;
            }
        }
    }
}

.cycle {
    #wheel {
        transform-origin: 0px 1003px;
        animation-name: wheel-rotate;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        &-circle {
            fill: none;
            stroke-width: 2;
            stroke: #000;
        }
    }
    #sunset, #moon, #sunrise {
        animation-name: sun-moon-rotate;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }
    #sunset {
        animation-name: sunset-rotate;
        transform-origin: 709px 294px;
    }
    #moon {
        animation-name: moon-rotate;
        transform-origin: 1003px 1003px;
    }
    #sunrise {
        animation-name: sunrise-rotate;
        transform-origin: 709px 1712px;
    }
}