.wheel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: $margin*20;
    width: 100vw;
    overflow: hidden;

    box-shadow: 0 -200px 30px -100px var(--color-sunset) inset;
    transition: all $transition-time $transition-easing;

    @include screen-medium {
        height: $margin*30;
    }

    @include screen-large {
        height: 100vh;
        width: $margin*50;
        top: 0;
        box-shadow: none;
    }

    &__circle {
        position: absolute;
        top: 230%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(var(--wheel-rotation));
        
        height: $margin*60;
        width: $margin*60;
        border-radius: 100%;
        border: 1px solid var(--color-text);
        transition: border $transition-time $transition-easing, transform $transition-time $transition-easing;

        @include screen-medium {
            top: 180%;
        }

        @include screen-large {
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%) rotate(var(--wheel-rotation));
        }
    }

    &__element {
        position: absolute;
        top: 12px;
        left: 0;

        width: $margin*10;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        /* Cursor on the point */
        transform: translate(-50%, -100%) rotate(calc(var(--wheel-rotation) * -1));

        transition: transform $transition-time $transition-easing;

        @include screen-large {
            flex-direction: row;
            width: auto;
            height: $margin*12;
            top: 0;
        }

        /* Default positions of the images */
        &--night {
            left: 50%;
            top: 2px;

            @include screen-large {
                top: -37px;
            }
        }
        &--sunset {
            left: 33%;

            @include screen-large {
                left: 20%;
            }
        }
        &--sunrise {
            left: 66%;

            @include screen-large {
                left: 80%;
            }
        }
    }
    &__point {
        background: var(--color-text);
        border-radius: 100%;
        width: $margin;
        height: $margin;
        transition: $transition-skybackground;
    }
    &__image {
        height: $margin*6;
        object-fit: contain;
        object-position: center;
        margin-bottom: $margin*2;

        @include screen-large {
            margin-bottom: 0;
            margin-left: $margin*4;
            width: $margin*20;
            height: 100%;
        }
    }
}

/* Change the linear gradient depending of the moment of the day */
.js-sunset {
    .wheel {
        box-shadow: 0 -200px 30px -100px var(--color-sunset) inset;

        @include screen-large {
            box-shadow: none;
        }
    }
}
.js-sunrise {
    .wheel {
        box-shadow: 0 -200px 30px -100px var(--color-sunrise) inset;

        @include screen-large {
            box-shadow: none;
        }
    }
}
.js-night {
    .wheel {
        box-shadow: 0 -200px 30px -100px var(--color-night) inset;

        @include screen-large {
            box-shadow: none;
        }
    }
}

.point{}