.svg-responsive {
    width: 100%;
}

.frame {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 $margin*5;
    z-index: -1;
    height: 100%;
    width: 50%;

    &--fixed {
        position: fixed;
        top: 0 !important;
    }

    &__svg {
        height: 100%;
    }
    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--frame-bg);

        transition: background .3s ease-out;
    }


    &-content {
        width: 70%;

        transition: transform .3s ease-out;

        @include screen-medium {
            width: 50%;
        }
        @include screen-large {
            width: 25vw;
        }

        &--hidden {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            z-index: -1;

            transition: opacity .2s ease-in;

            @include screen-large {
                left: 25%;
            }
        }
        &--active {
            opacity: 1;

            transition: opacity .4s ease-out .2s;
        }

        /* CUSTOM CSS FOR THE ILLUSTRATIONS */
        &.plant {
            height: 50%;
            g {
                stroke: $color-black;
            }
        }
        &.cycle {
            @include screen-medium {
                width: 30%;
            }
            @include screen-large {
                width: 20vw;
            }
        }
    }
}