body {
    padding: $margin*5;
    width: 100vw;
    overflow-x: hidden;

    @include screen-medium {
        padding: $margin*10;
    }

    @include screen-large {
        padding: 0;
    }
}

main {
    @include screen-large {
        width: 50vw;
        margin-left: 50vw;
        padding: $margin*20;
    }
}

section, footer {
    margin-top: $margin*8;

    @include screen-medium {
        margin-top: $margin*10;
    }
}

footer {
    text-align: center;
    font-size: 1rem;
    @include screen-large {
        width: 50vw;
        margin-left: 50vw;
        padding: $margin*20;
    }
}